---
import logo from '../images/rain.png';
---

<header class = "header">
    <div class ="container">
        <div class="logo">
        <a href = "/">
            <img src={logo} alt="" />
        </a>
        </div>
        <nav>
            <ul>
                <li> <a href="/catalog">Catalog</a></li>
                <li> <a href="/CCCalculator">Color Contrast Calculator</a></li>
                <li> <a href="/quiz">Quiz</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
.header {
    height:  70px;
    background-color: rgb(10, 116, 222);;
}

.header .container{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}




</style>