<h1 class = "mission_h"> Our Mission</h1>
<p class = "mission_i">
    We are students of the University of North Texas.
    We have created this website to be a informative tool for web developers. 
    We will be covering the subject of Accessibility in Websites. 
</p>

<style>
.mission_h {


}

.mission_i {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
}

</style>